{{define "content"}}
<section class="hero">
  <div class="hero-split">
  <pre class="hero-art" aria-hidden="true">
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣀⣠⣤⣴⣶⣶⣶⣶⣶⣶⣦⣤⣤⣄⣀⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⢀⣠⣴⢾⣿⣿⣿⣿⣿⢿⡻⢷⣽⣿⣿⣿⣿⣿⣿⣿⣿⣿⣶⣤⣀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⢀⣤⡾⣿⡿⣹⢿⣿⣿⣻⢯⣽⣷⡿⠄⣺⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣶⣄⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⣀⡔⡾⣿⣫⣿⣌⡛⣞⡩⢿⡙⣮⣚⢿⡿⣿⣷⣿⣿⡿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⣄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⢀⡤⣛⣿⣿⡧⠛⣷⠋⣤⠈⣃⡾⣧⡏⢿⣧⢷⣿⡿⣿⢸⣿⣿⡽⣿⢻⣿⡻⣿⣿⣿⣿⣿⢿⣿⣿⣧⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⡂⠤⠟⢿⠻⣗⣀⢸⠳⣿⡓⣏⣷⡜⡛⣺⣤⠀⠼⢁⣿⠻⣿⣿⣦⣙⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣻⣿⣷⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⡁⠘⠀⠙⣃⢠⢉⡀⢺⢻⢿⣉⠛⢳⣿⢻⣿⣛⡿⣾⡱⣞⣹⣿⣿⣿⣿⣿⣿⣿⣿⡿⡏⣿⣿⢿⣿⣿⣿⣷⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀HOLA PALOMAS
⠀⠀⠠⠀⠌⠸⠀⠁⠀⡀⠘⠂⡈⢹⣠⢿⡟⣸⣧⣾⢷⣟⠿⡿⣿⢿⡿⢺⣾⡛⡙⣷⣷⢸⡇⣾⣿⣿⡿⣿⣧⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀SOMOS GOBIERNO
⠀⠀⠀⠀⠀⠀⠀⠀⠂⠸⠀⠀⡹⡈⢸⠻⢴⢻⡋⠱⣾⡏⠃⣧⣿⠎⠁⣿⣿⣷⡆⣿⣿⡎⣧⣿⢹⣿⡇⠹⣿⡆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠁⠀⠂⠋⡐⠀⠇⠐⡀⠠⢁⡛⠇⠹⡟⡆⢋⠹⢿⣿⣿⡟⣿⣧⠱⣿⣧⣮⠿⣸⣿⠇⠹⣿⣳⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠈⠀⠀⠀⠀⠈⠀⠅⠐⠀⠨⠕⠢⣸⣁⠲⣡⠌⣹⠟⣿⣇⡼⣿⣘⣌⢻⡿⢰⣿⡏⣾⡀⢠⣽⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡀⠀⠀⠄⠀⠀⠌⠁⢐⡈⠒⢁⢋⠲⡰⢛⡏⠃⣿⠇⡛⢾⣧⣿⣿⠁⠨⢅⠨⣿⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠐⠀⠂⠀⡐⠀⠀⠄⠡⢀⠊⠀⠇⠈⡔⢀⣯⠸⢃⡞⣿⡭⠀⠀⣘⠆⢘⠋⠃⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠁⠀⠀⠀⠀⠈⠀⠀⠈⠄⠐⠀⠸⠀⠈⠰⡙⠢⡀⣠⣴⠋⣼⣿⣿⣿⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠠⠀⠀⠄⠀⠀⠀⠁⠄⠁⡀⠅⠐⠤⠈⢁⣴⣿⣿⣿⣿⣿⣆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠁⠀⠀⢀⠂⠀⠀⠀⠀⠂⠱⠈⠜⣒⣠⣤⣾⣿⣿⡿⢿⣿⣿⡆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠂⠀⠀⠈⠀⠀⠀⡸⠷⣌⠯⣿⣷⣶⠾⠿⢿⣿⣿⣿⠃⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣀⣤⣤⣀⠀⠀⠄⠀⠀⢰⣝⣿⣿⣿⣃⣙⣳⣶⣍⠿⣿⣿⣿⣷⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⡤⠞⣣⣤⣽⣶⣄⠀⣶⣿⣿⣿⣿⣿⣷⣄⠀⢈⡀⠓⠘⣻⣿⣯⠿⣿⣯⣉⠿⣿⣿⣿⣿⣿⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⠎⡄⣾⣿⣿⣷⡶⣾⣥⣿⣿⣿⣿⣿⣿⣿⣿⠀⢘⣻⣴⣟⣯⡿⣛⢷⡶⠶⣬⣤⣽⡛⢿⣿⣿⣷⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠒⡌⠙⠻⢿⣿⣿⣿⣉⠱⣿⣾⣿⣿⡿⢿⠟⡓⢸⣿⣿⣿⣿⣿⣟⣭⣽⣿⣦⣝⠿⣿⣆⢭⣛⢿⡆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠐⠀⠀⠀⠀⠈⠩⣿⣿⡼⢿⣄⢒⣁⡄⢠⣼⢀⡻⢿⣿⠧⠶⢶⡴⣬⣩⠛⠿⣿⣿⣬⡙⢧⣹⡦⢄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠠⢬⣿⠷⣾⡛⠟⢁⣤⣿⠖⣨⠿⡬⡕⢎⣛⡉⠭⣍⡙⠻⣷⡙⠮⠽⢉⠳⡌⠻⡆⢧⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⢙⡿⣿⣽⣇⣶⣾⢿⠟⠸⠃⠀⠀⠀⠂⠈⠛⠟⠋⢛⢶⣞⣻⣭⣻⣾⣶⡔⢦⡘⠢⢇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠁⠀⣿⣍⢿⣿⣟⡃⠀⠀⠀⠀⠀⠀⠂⠐⢚⡃⢹⡛⠦⢦⣭⣙⡛⢻⡟⢿⡦⡙⣄⣀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣽⣟⢃⣿⡟⠀⠀⠀⠀⠀⠀⠀⠀⡑⢮⠹⢤⡌⠳⠦⣍⠛⠿⣗⠲⣌⣁⡁⣬⠛⡽⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠨⢽⢾⡿⠀⠀⠀⠀⠀⠀⠀⠀⠀⠠⠀⢦⠃⡿⢄⣢⡉⢤⣀⠌⢣⡉⣻⠷⣌⡛⠬⡙⠠⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⠈⣼⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡀⠀⠹⠖⠤⣤⣀⠈⠹⠦⣀⡁⠔⠣⠙⠾⣵⠤⠁⠆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⡏⠀⠀⠀⠀⠀⠀⠀⠀⠀⠐⠀⠀⠢⠣⠙⠄⢠⡁⠿⣍⡁⣍⡳⠄⠀⠦⠘⠤⢏⠛⢲⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣼⠇⠀⠀⠀⠀⠀⠀⠀⠀⠄⠀⠢⣀⠀⠐⡄⠠⡀⡙⢦⡔⢞⡠⠁⢀⠈⠓⢤⡀⠂⡑⢠⡘⢠⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠀⠀⠠⡑⠀⣠⣄⡄⠈⠀⠈⠀⠱⣂⠀⠑⢦⡀⠀⠄⠀⡈⠅⡀⠡⢀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠌⠀⢚⠦⠙⢢⣄⣀⠀⠰⣌⠄⠈⠂⠉⠂⠄⠀⠣⢄⠘⣤⠀⠂⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⠁⠄⠈⢈⠳⡠⠀⠴⣄⠀⠠⠉⢦⠀⠀⠀⡲⠄⠹⡠⠄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠓⡀⠳⣲⡀⠄⠢⡘⢤⠀⣌⠂⣀⡀⠻⣄⠀⠀⠁⠌⡐⠠⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠁⠀⠀⠙⢶⡄⠀⠀⢃⠌⠋⠀⣙⣀⠈⠣⢦⡀⠀⠀⠅⡩⢄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⠀⢀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠄⠀⡀⠁⢆⣄⠀⠘⣀⠀⠀⢭⠆⡀⠄⣑⠀⢂⠀⠐⠡⠄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⢈⠀⠀⢣⠈⠀⠀⠀⠀⠀⠀⠀⠀⢢⠀⠀⠀⠀⠠⠀⠀⣀⠢⠐⢀⠂⠀⠀⠐⡈⠢⠈⠎⠀⠒⠠⠀⡈⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠠⠀⠀⠀⠀⠄⠂⠒⠀⣁⠠⡀⠠⠀⠀⠀⠀⠀⠁⠀⠀⠀⠀⠀⠀⠘⢦⠀⠀⢳⠸⠀⠀⠈⢢⠈⣀⠀⠢⠀⠐⠈⠄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠠⠀⠀⠀⠀⠀⠃⡈⢀⠘⣇⠠⡄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠀⠀⠀⠀⠂⠀⠀⠁⡀⠀⠀⢀⡄⠈⠡⠀⠁⠆⠀⠈⡒⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠐⠀⠀⠀⠀⠀⠀⠡⠀⠀⢩⠀⢉⠀⠀⠀⢤⡀⢀⠀⠀⠀⠀⠀⠈⠀⠀⡀⠀⡀⢀⠐⢀⠀⠈⠄⠀⠀⠡⠀⠈⠁⠀⠀⠁⠄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀

  </pre>
  </div>
  <p class="kicker">Desde Monterrey, Nuevo León, Palomas Del Gobierno nace para todos los amantes de la música. Hugo Ruiz en voz y guitarra, Caleb en guitarra y Zekar en el bajo, unen fuerzas para reavivar el punk mezclado con grunge, metal y rock. Cada miembro aporta su propio universo sonoro para crear un sonido fresco y desafiante que revive la esencia underground en su estado.</p>
</section>

<section class="panel">
  <h2>// INTEGRANTES</h2>
  <ul class="members">
    {{range .Members}}
    <li class="member card">
      {{if .Photo}}<img class="member-photo" src="{{.Photo}}" alt="foto de {{.Name}}" loading="lazy">{{end}}
      <h3 class="member-name">{{.Name}}</h3>
      <p class="role">&gt;&gt; {{.Role}}</p>
      <p class="bio">{{.Bio}}</p>
    </li>
    {{end}}
  </ul>
</section>

<section class="grid2">
  <section class="panel">
    <h2>// BITÁCORA DE VUELO</h2>
    {{if .Latest}}
    <ul class="plain-list">
    {{range .Latest}}
      <li><a href="/news/{{.ID}}">{{.Title}}</a> <span class="dim">[{{.CreatedAt | timeFmt}}]</span></li>
    {{end}}
    </ul>
    {{else}}
    <p class="dim">sin transmisiones todavía. el silencio también es propaganda.</p>
    {{end}}
    <p><a class="btn small" href="/news">TODAS LAS NOTICIAS →</a></p>
  </section>

  <section class="panel">
    <h2>// RUIDO RECIENTE</h2>
    {{if .Threads}}
    <ul class="plain-list">
    {{range .Threads}}
      <li><a href="/forum/{{.ID}}">{{.Title}}</a> <span class="dim">por @{{.Username}} · {{.Replies}} respuestas</span></li>
    {{end}}
    </ul>
    {{else}}
    <p class="dim">el foro aún no ruge.</p>
    {{end}}
    <p><a class="btn small" href="/forum">ENTRAR AL FORO →</a></p>
  </section>
</section>

<section class="panel stats">
  <p>{{.Posts}} transmisiones en el archivo · {{.Users}} palomos registrados</p>
</section>

<p class="cta">
  <a class="btn" href="/news">LEER NOTICIAS</a>
  <a class="btn" href="/forum">PASARSE AL FORO</a>
  {{if not .User}}<a class="btn" href="/register">ALISTARSE</a>{{end}}
</p>
{{end}}
